<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/nextbox_ui_plugin/next_sources/css/next.css">
        <script src="/static/nextbox_ui_plugin/next_sources/js/next.js"></script>
        <script src="/static/nextbox_ui_plugin/next_app.js"></script>
        <script>
            var topologyData = {{ source_data|safe }};
            console.log(topologyData);
        </script>
    </head>
    <body>
        <button onclick='horizontal()'>Horizontal Layout</button>
        <button onclick="vertical()">Vertical Layout</button>
    </body>
</html>
